@import '../src/mixins';


$base-font-size: 20px;

//
// FONT SIZE
//

h1 {
	@include font-size(40px);
}

h2 {
	@include font-size(30px, 35px);
}


//
// RTL
//
p {
	float: left;

	@include rtl {
		float: right;
	}

	@include rtl {
		a {
			color: #cc0000;
		}
	}
}

@include rtl {
	background: #cc0000;
}

//
// FEATURE
//
.wrap {
	width: 100%;

	@include feature('page-boxed') {
		width: 990px;
	}
}

@include feature('page-boxed') {
	background: #fafafa;
}

//
// CLEARFIX
//

.grid {
	@include clearfix;
}

footer {
	@include clearfix;
}

.gallery {
	@include clearfix(false);
}